@page "/punches"
@using Microsoft.AspNetCore.Components.Authorization
@using MyTime.Shifts
@using MyTime.Shifts.Contracts.Responses

@rendermode InteractiveServer
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject IPunchService PunchService

<PageTitle>Punches</PageTitle>

<h1>Punches</h1>

@* for testing *@

<select value="@userId" @onchange="UserChanged">
    <option value=1>User 1</option>
    <option value=2>User 2</option>
</select>

@if (punches is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Type</th>
                <th>Approval Status</th>
                <th>Approved By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var punch in punches)
            {
                <tr>
                    <td>@punch.RecordedTime.ToLocalTime()</td>
                    <td>@(punch.PunchType == Shared.Model.Enums.PunchType.In ? "In" : "Out")</td>
                    <td>@(punch.IsApproved is null ? "pending"
                        : (@punch.IsApproved is true ? "approved" : "denied"))
                    </td>
                    <td>@punch.ApprovedByUser</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private int userId = 1;

    protected override async Task OnInitializedAsync()
    {
        punches = await PunchService.GetAllPunchesAsync(userId);
    }

    public async Task UserChanged(ChangeEventArgs e)
    {
        int.TryParse(e?.Value?.ToString(), out userId);
        punches = await PunchService.GetAllPunchesAsync(userId);
    }
    private List<PunchResponse> punches = [];
}
